<a href="https://colab.research.google.com/github/zdnMuh/learn-python/blob/main/Python_Fundamental.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Common Data Structure

In [ ]:
# list : list belanja
mylist = ["Bayam", "Kangkung", "Tongkol", 1, 2]
print(mylist)
# append : menambahkan data && remove : menghapus data
mylist.append("Tongkol")
mylist.remove("Kangkung")
print(mylist)

['Bayam', 'Kangkung', 'Tongkol', 1, 2]
['Bayam', 'Tongkol', 1, 2, 'Tongkol']

In [ ]:
# dict : kamus
mydict = {1: "Zidan", 2: "Rifqi", 3:"Queen"}
print(mydict)
# del : hapus
mydict['Alamat'] = "Mataram"
print(mydict)
del mydict['Alamat']
print(mydict)

{1: 'Zidan', 2: 'Rifqi', 3: 'Queen'}
{1: 'Zidan', 2: 'Rifqi', 3: 'Queen', 'Alamat': 'Mataram'}
{1: 'Zidan', 2: 'Rifqi', 3: 'Queen'}

In [ ]:
# tuple : tabel tidak dapat diubah
mytuple = (1, 2, 3, 4)
print(mytuple)
print(mytuple[1])

(1, 2, 3, 4)
2

In [ ]:
# sets : kumpulan unik
mysets = {1, 2, 3, 3, 3, 3, 5}
print(mysets)
# add : menambahkan data && remove : menghapus data
mysets.add(7)
mysets.remove(3)
print(mysets)
# print(my_set.union(my_set_2), '----------', my_set | my_set_2)
# print(my_set.intersection(my_set_2), '----------', my_set & my_set_2)
# print(my_set.difference(my_set_2), '----------', my_set - my_set_2)
# print(my_set.symmetric_difference(my_set_2), '----------', my_set ^ my_set_2)
# my_set.clear()

{1, 2, 3, 5}
{1, 2, 5, 7}

# Conditional Statement

In [ ]:
num = 'aaa'
if isinstance(num, int):
  if num%2 == 0:
    print(num, " bilangan genap")
  elif num%2 == 1:
    print(num, " bilangan ganjil")
else:
  print(num, " bukan bilangan")

aaa  bukan bilangan

# Loop

In [ ]:
# while loop
num = 1
inlist = []
while num:
  if num%2 == 0:
    inlist.append(num)
  if num >=21:
    break
  num+=1
print('Isinya =', inlist)

Isinya = [2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [ ]:
# for loop
for x in inlist:
  print(x)

2
4
6
8
10
12
14
16
18
20

# Function

In [ ]:
# with return
def pembagian(a, b):
  return 'Hasilnya = '+ str(a/b)
pembagian(6, 2)

'Hasilnya = 3.0'

In [ ]:
# no return (procedure)
def perkalian(c, d):
  print("Hasilnya = ", c*d)
perkalian(6, 2)

Hasilnya =  12

# Exercise List

In [ ]:
# Buatlah list berisi 10 bilangan genap pertama dan cetak dalam urutan terbalik.
x = 1
xlist = []

while x:
  if x%2 == 0:
    xlist.append(x)
  elif len(xlist) == 10:
    break
  x+=1

xlist.reverse()
print(xlist)

[20, 18, 16, 14, 12, 10, 8, 6, 4, 2]

# Exercise Dictionary

In [ ]:
# Buatlah dictionary untuk menyimpan informasi siswa (nama, ID, nilai).
siswa = {
    'nama': 'zidan',
    'ID': '1',
    'nilai': 90}
print(siswa['nama'])
print(siswa['ID'])
print(siswa['nilai'])

# Lakukan iterasi pada dictionary dan cetak setiap pasangan key-value.
for key, value in siswa.items():
  print(key, ':', value)

zidan
1
90
nama : zidan
ID : 1
nilai : 90

# Exercise Tuple

In [ ]:
# Buatlah tuple untuk menyimpan nama-nama hari dalam seminggu.
hari = ('senin', 'selasa', 'rabu', 'kamis', 'jumat', 'sabtu', 'minggu')

# Akses elemen dalam tuple menggunakan indexing dan slicing.
print(hari)
print(hari[1][3:])

('senin', 'selasa', 'rabu', 'kamis', 'jumat', 'sabtu', 'minggu')
asa

# Exercise Sets

In [ ]:
# Buatlah set untuk menyimpan nama-nama unik dari list.
unik = {1, 2, 3, 4, 4, 5, 6, 7, 2, 7, 9, 4}

# Tambahkan dan hapus elemen dari set.
unik.remove(4)
unik.add(10)
print(unik)

# Periksa apakah dua set sama atau memiliki elemen yang sama.
unik2 = {1, 2, 3, 1, 4, 5, 6, 7, 2, 7, 0, 2}
print(unik&unik2)

{1, 2, 3, 5, 6, 7, 9, 10}
{1, 2, 3, 5, 6, 7}

# Exercise Conditional Statement

In [ ]:
# Tulis program yang meminta pengguna memasukkan angka dan cek apakah nilainya genap atau ganjil. Cetak pesan sesuai hasilnya.
try:
  num = int(input('input : '))
  if num%2 == 0:
    print(num, " bilangan genap")
  else:
    print(num, " bilangan ganjil")
except ValueError:
  print('bukan bilangan')

input : 90
90  bilangan genap

In [ ]:
# Buat program yang mengecek diskon belanja berdasarkan total belanjaan: kurang dari Rp50.000 = 0%, Rp50.000 - Rp100.000 = 5%,
# lebih dari Rp100.000 = 10%. Hitung dan cetak harga akhir beserta diskonnya.
try:
  num = int(input('input : '))
  if num < 50000:
    print("belanja", num, "diskon 0%")
  elif 50000 <= num <= 100000:
    print("belanja", num, "diskon 5%")
  elif num > 100000:
    print("belanja", num, "diskon 10%")
except ValueError:
  print('bukan bilangan')

input : popop
bukan bilangan

# Exercise Loop

In [ ]:
# Tulis program yang mencetak bilangan genap dari 1 sampai 100 menggunakan loop for.
mylist = []
for x in range(1, 101):
  if x%2 == 0:
    mylist.append(x)
x+=1
print(mylist)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98, 100]

In [ ]:
# Buat program yang membaca 10 bilangan dari user dan mencetak bilangan terbesar dan terkecil.
mylist = []
for y in range(1, 11):
  mylist.append(int(input('input : ')))

mylist.sort(reverse=True)
print(mylist)

input : 12
input : 56
input : 5
input : 3
input : 90
input : 0
input : 57
input : 4
input : 54
input : 7
[90, 57, 56, 54, 12, 7, 5, 4, 3, 0]

# Exercise Function

In [1]:
# Buat fungsi greet(name) yang mencetak pesan "Halo, [nama]!"
def greet(name):
  print('Halo,', name)

greet('zidan')

Halo, zidan

In [6]:
# Buat fungsi factorial(number) yang menghitung faktorial suatu bilangan.
def factorial(num):
  if num == 1:
    return 1
  else:
    return num * factorial(num-1)

result = factorial(10)
print(result)

3628800